body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    /* font-family: Helvetica Neue,Helvetica,Arial,sans-serif; */
    background-color: #effffb;
}

h1 {
    color: #66BFBF;
    font-size: 5.625rem;
    /* rem(root em is that it does not get affected by upstream size changes) */
    /* 16px = 100% = 1em; -> 90px/16px=562.5%=5.625em */
    /* line-height: 2; */
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    /* 40px = 40px/16px = 2.5rem */
    font-weight: normal;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

/* div {
    background-color: #effffb;
}
*/
.top-container {
    /* background-image: url(https://); */
    /* background-color: #effffb; */
    position: relative;
    padding-top: 200px;
    background-color: red;
}

.middle-container {
    padding: 9.5rem 0 0 0;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
    display: block;
}

.top-cloud {
    width: 9rem;
    height: 8rem;
    position: absolute;
    right: 300px;
    top: 95px;
    filter: drop-shadow(8px 8px 10px gray);
}

.bottom-cloud-rainbow {
    width: 65rem;
    position: absolute;
    left: 18rem;
    top: 100px;
    bottom: 300px;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.growth {
    width: 40%;
    position: absolute;
    left: 27rem;
    bottom: -150px;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.pro {
    text-decoration: underline;
}

.myprofile_img {
    height: 150px;
    width: 150px;
    border-radius: 100px;
    filter: drop-shadow(8px 8px 10px gray);
}

.codeImg {
    border-radius: 100px;
    width: 25%;
    height: 180px;
    float: left;
    margin-right: 30px;
}

.LearningGIF {
    height: 150px;
    width: 150px;
    border-radius: 100px;
}

.footer-link {
    color: #11999E;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.LearningGIF {
    width: 25%;
    height: 180px;
    float: right;
    margin-left: 30px;
}

/* .code-skill-description {
    clear: left;
} */

/* .education-challenge-description {
    clear: right;
} */

.intro {
    width: 30%;
    margin:auto;
    line-height: 2;
}

.contact-me {
    width: 40%;
    margin: 40px auto 60px;
    line-height: 2;
}

.btn {
    width: 26%;
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    color: #EAF6F6;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(30, 30, 30, 0.8);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 8px;
    background: #11cdd4;
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-box-shadow: 0 2px 1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0 2px 1px rgba(50, 50, 50, 0.75);
    box-shadow:         0 2px 1px rgba(50, 50, 50, 0.75);
}

a {
    margin: 10px 20px;
}

a:-webkit-any-link {
    cursor: pointer;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.footer-link {
    text-decoration: none;
}
